.qualification__card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
  min-width: 700px !important;
}

.vertical-timeline::before {
  background: black !important;
}

.fade-out {
  opacity: 0;
  max-height: 0px;
}

.fade-in {
  opacity: 1;
  max-height: 900px;
}

.rs-timeline-item-active .rs-timeline-item-dot:before {
  background-color: var(--icon-color) !important;
}

.timeline__image {
  max-height: 70px;
}

.timeline-container {
  transition: opacity 0.7s ease, max-height 0.5s ease;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .qualification__card {
    min-width: 200px !important;
  }
}
