.badge.bg-purple {
  background-color: var(--icon-color) !important;
}

.portfolio-item-button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  background: transparent;
}

.portfolio__button {
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.portfolio__button:hover,
.portfolio__button-active {
  background-color: var(--title-color-dark) !important;
}
.portfolio__button:hover button,
.portfolio__button-active button {
  color: var(--container-color);
}

.portfolio__button button {
  transition: color 0.5s ease;
}

.card img {
  max-height: 220px;
  object-fit: cover;
}

.card .card-body {
  min-height: 130px !important;
}

/* Custom styles for Carousel controls */
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  color: black;
  transform: translateX(-50px); /* Moves the left arrow outside */
}

.carousel-control-next {
  transform: translateX(50px); /* Moves the right arrow outside */
}

.carousel-control-custom {
  font-size: 2rem;
  color: black;
  cursor: pointer;
  opacity: 1;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: black;
  opacity: 0.8;
}

@media only screen and (max-width: 380px) {
  .portfolio__button {
    padding: 12px !important;
  }
  .card .card-body {
    min-height: auto !important;
  }
}
