#portfolio__container {
  align-items: normal !important;
}

.badge.bg-purple {
  background-color: var(--icon-color) !important;
}

.portfolio-item-button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  background: transparent;
}

.portfolio__button {
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.portfolio__button:hover,
.portfolio__button-active {
  background-color: var(--title-color-dark) !important;
}
.portfolio__button:hover button,
.portfolio__button-active button {
  color: var(--container-color);
}

.portfolio__button button {
  transition: color 0.5s ease;
}

.custom-arrow:hover {
  color: var(--icon-color);
}

.project__card .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#portfolio__container .card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  height: 450px !important;
  margin: 2rem 0rem !important;
}

#portfolio__container .card img {
  max-height: 220px;
  object-fit: cover;
}

#portfolio__container.transitioning .project-card {
  animation: zoom-in-zoom-out 0.8s ease;
}

.slick-prev svg,
.slick-next svg {
  transition: transform 0.3s ease;
}

.slick-prev::before,
.slick-next::before {
  content: none !important;
}

.slick-prev:hover svg,
.slick-next:hover svg {
  transform: scale(1.2);
}

.button-demo {
  background-color: var(--icon-color) !important;
  color: white !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    opacity: 0;
    scale: 80%;
  }
  100% {
    scale: 100%;
    opacity: 1;
  }
}

@media only screen and (max-width: 380px) {
  .portfolio__button {
    padding: 12px !important;
  }

  #portfolio__container .card {
    height: 400px !important;
    margin: 1.2rem 0rem !important;
  }

  .slick-dots {
    display: none !important;
  }
}
