#home__desctiption::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 2px;
  background-color: var(--text-color);
  margin-top: -10px;
}

@media only screen and (max-width: 600px) {
  .home__button {
    display: flex;
    justify-content: center;
  }
}
