.contact__card {
  border: 1px solid var(--icon-color) !important;
  padding: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#contact__container a {
  color: var(--icon-color) !important;
}

#contact__container form input,
#contact__container form textarea {
  border: 1px solid var(--title-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
