#navbar {
  box-shadow: rgba(50, 50, 93, 0.2) 0px 1px 5px -3px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white !important;
  padding: 0.2rem 0.3rem;
  margin-bottom: 50px !important;
}

.navbar-brand img {
  max-height: 40px;
  object-fit: cover;
}

@media (max-width: 576px) {
  #navbar .navbar-brand img {
    height: 1.5em;
  }
  #navbar .navbar-toggler {
    padding: 0.15rem 0.4rem;
  }
  #navbar .nav-link {
    padding: 0.2rem 0.4rem;
    font-size: 0.85rem;
  }
}
